:root {
  /*----- Fonts -----*/
  --ff-russo: "Michroma", sans-serif;
  --ff-roboto: "Roboto", sans-serif;
  --ff-lato: "Lato", sans-serif;

  /*----- Colors -----*/
  --dark-clr: #001731;
  --darkMid-clr: #001d3d;
  --light-clr: #fafcff;
  --light2-clr: #ffffff;
  --darkLight-clr: #2795bc;
  --accentDark-clr: #fbd411;
  --vibrant: rgba(251, 5, 251, 0.8);
}
